.btn {
  width: 100%;
  color: red;
  border: 1px solid red;
}

.option {
    display: flex;
}

.rupees > select{
    padding: 10px;
    margin-right: 10px;
}

.place > input {
    border: 1px solid black;
    width: 470px;
}

.name {
  background-color: white;
  border-radius: 40px;
  padding-right: 10px;
  text-align: center;
  width: 60px;
}

.org > input{
    width: 540px;
    border: 1px solid black;
}

.org > input::placeholder{
    color: grey;
}

.modalcard > button{
    width: 320px;
    margin: 30px 80px 10px 90px;
    color: white;
    font-size: 20px;
    background-color:  #b91141;
}

.fundr{
    padding: 10px;
    font-size: 20px;
}

.most {
  font-size: 20px;
}

.sname {
  background-color: white;
  border-radius: 40px;
  padding-top: 20px;
  text-align: center;
  width: 70px;
}

.bg {
  background-color: rgb(212, 210, 210);
  padding: 5px;
  margin-top: 10px;
  height: 150px;
}

.flex {
  display: flex;
  padding: 10px;
}

.flex > * {
  padding: 10px;
}

p {
  font-size: 15px;
}

.bg > div:nth-child(1) {
  padding: 5px;
}

.pname {
  text-align: left;
}

.pname > p:nth-child(2) {
  margin-top: -20px;
  font-size: 15px;
}

.benificiary {
  margin-top: 20px;
  background-color: rgb(212, 210, 210);
  padding: 5px;
}

.support {
  font-size: 20px;
  padding-top: 20px;
}
