.form{
    width: 50%;
    margin: auto;
}

.form > * {
    margin: 20px;
}

input{
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

.beneficiary{
    text-align: center;
}

.btn{
    color: white;
    background-color: green;
    border-radius: 5px;
}

